.panel5 {
    margin-top: var(--xs);
    background-color: var(--primary-color);
    padding: var(--xs);
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.sectiona__panel5 {
    display: flex;
    flex: 1;
}

.title__panel5{
    margin: 20px;
    margin-left: 70px;
    font-weight: bold;
}

.sectionb__panel5 {
    display:flex;
    flex: 1;
}

.col {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
    max-width: 10rem;

}

.col:nth-child(2), .col:nth-child(3), .col:nth-child(4) {
    display:flex;
    align-items: flex-start;
}

.text__panel5{
    font-size: 14px;
}

.option__panel5{
    font-size: 13px;
}