body, html {
    height: auto;
}
.content {
    height: auto;
}
.panel {
    margin-top: var(--xs);
    background-color: var(--background-color);
    padding: var(--xs);
    height: var(--panel-heigth);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

}
 .item {
     display:flex;
     justify-content: center;
     align-items: flex-start;
     flex:1;
 }

 .panel > .item:nth-child(3) {
     flex:8;
     width: 100%;
     display:flex;

     justify-content: space-around;
     align-items: center;
     margin: 0 auto;
 }

 .block {
     display:flex;
     flex-direction: column;
     justify-content: center;
     max-width: var(--body-width);
     
     flex:3;
 }

 .arrow-icon {
     display:flex;
     flex:1;
     justify-content: center;
 }
 .boxes {
     display:flex;
     max-width: var(--body-width);
     width: 100%;
     justify-content: space-between;
     align-items: flex-end;
     flex:1;
 }

 .texts {
     display:flex;
     max-width: var(--body-width);
     width: 100%;
     justify-content: space-between;
     align-items: flex-start;
     flex:1;
 }

 .text {
     font-size: var(--body-size);
     font-family: var(--body-font);
 }

 .title {
     font-family: var(--body-font);
     font-size: var(--title-size);
     font-weight: var(--title-weight);
 }

 .box {
     width: 50px;
     height: 50px;
     background-color: var(--primary-color);
     border: 1px solid black;
 }